.container {
  display: grid;
  grid-template-columns: 52.8rem 34.45rem;
  grid-template-rows: 4.3rem 23.2rem 20rem;
  grid-gap: 2rem;
  background-image: url("./assets/background.png");
  background-repeat: no-repeat;
  background-size:cover;
  min-height: 100vh;
}

.item{
  font-size: 10pt;
  color: black;
  text-align: middle;
}

.map{
font-size: 10pt;
color: white;
text-align: middle;
border-style: dashed;
border-width: thick;
background-image: url("./assets/rover_grid_new.png");
background-repeat: no-repeat;
background-size: cover;
}

.mannual_container{
  display: grid;
  grid-template-columns: 34.75rem;
  grid-template-rows: 20rem;
  grid-gap: 1rem;
}